@page "/scenario/select"
@using HiddenLove.Shared.Models.ScenarioSelection
@inject HttpWrapper Http
@inject JsHelper Js
@inject NavigationManager NavManager
@layout NavbarLayout


<div class="choose-clean">
    <div class="choose-form">

        <div class="choose-image">
            <img src="img/logo.svg" class="choose-illustration" />
        </div>

        <h2>Choisissez le scénario qui vous correspond !</h2>
        <div>
            <Textbox Placeholder="Recherche..." @bind-BindingValue="Search" />
        </div>

        <div class="choose-date">
            <span>Sélectionnez une date :</span>
            <Datebox @bind-BindingValue="EventDate" />
        </div>
        <span>Sélectionnez un scénario :</span>

        @if (IsPageLoaded)
        {
            <div class="card-organisation">
                @foreach (ScenarioSelectionData scenario in FilteredScenarios)
                {
                    <div class="card @HighlightScenarioCard(scenario.Id)" @onclick="@(() => SelectScenarioTemplate(scenario.Id))">
                        <img class="card-img-top" src="@scenario.Image" />
                        <div class="card-body">
                            <h5 class="card-title">@scenario.Title</h5>
                            <p class="card-description">@scenario.Description</p>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>En cours de chargement...</p>
        }

        <div class="btn-validation">
            <button class="btn btn-primary" @onclick="SelectScenario">Valider le choix du scénario</button>
        </div>
        <div class="error">
            <p>@Message</p>
        </div>
    </div>
</div>

@code {
    private bool IsPageLoaded { get; set; } = false;

    private List<ScenarioSelectionData> Scenarios = new List<ScenarioSelectionData>();

    private List<ScenarioSelectionData> FilteredScenarios => Scenarios.Where(x => x.Title.Contains(Search, StringComparison.InvariantCultureIgnoreCase)).ToList();

    private string Search { get; set; } = "";

    private DateTime? EventDate { get; set; } = null;
    private int? ScenarioTemplateId { get; set; } = null;
    private string Message { get; set; } = "";
   
    private string HighlightScenarioCard (int id)
    {
        return ScenarioTemplateId == id ?"selected-card":"";
    }

    protected override async Task OnInitializedAsync()
    {
        await Http.Authenticate(Js, NavManager);
        Scenarios = await Http.GetResultAsync<List<ScenarioSelectionData>>("ScenarioSelection/AvailableScenarios");
        IsPageLoaded = true;
    }

    private void SelectScenarioTemplate(int id)
    {
        ScenarioTemplateId = id;
        Js.Log(id);
    }

    private async void SelectScenario()
    {
        if (ScenarioTemplateId == null)
        {
            Message = "Aucun scénario n'a été sélectionné.";
            return;
        }

        if (EventDate == null)
        {
            Message = "Une date pour l'exécution du scénario doit être planifiée.";
            return;
        }

        var req = new SelectedScenarioData
        {
            IdScenario = ScenarioTemplateId.GetValueOrDefault(0),
            EventDate = EventDate.GetValueOrDefault(DateTime.Now)
        };

        Js.Log(req);

        int idCreatedScenario = await Http.PostResultAsync<SelectedScenarioData, int>("ScenarioSelection/BookScenario", req);

        NavManager.NavigateTo("/scenario/view/" + idCreatedScenario);
    }

    
}
