@page "/scenario/view/{IdScenario:int}"
@inject HttpWrapper Http
@inject JsHelper Js
@inject NavigationManager NavManager
@layout NavbarLayout

<div class="container">
    @if (IsPageLoaded)
    {
        <div class="row">
            <div class="col-10">
                <h1>@ScenarioDetails.Title</h1>
            </div>
            <div class="col-2">
                <p>@ScenarioDetails.EventDate.ToString("dd/MM/yyyy")</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>@ScenarioDetails.Description</p>
            </div>
        </div>
        <div style="padding-bottom: 20px;"></div>
        <div class="row">
            <div class="col-12">
                <h2>Étapes</h2>
            </div>
        </div>
        @foreach (StepDetailsData step in ScenarioDetails.Steps)
        {
            <div class="row">
                <div class="col-10">
                    <p title="@step.Description">@step.Title</p>
                </div>
                <div class="col-2">
                    <p>@step.StartDate.ToString("HH:mm") <i class="fa fa-long-arrow-alt-right"></i> @step.EndDate.ToString("HH:mm")</p>
                </div>
            </div>
            <div style="padding-bottom: 10px;"></div>
        }
    }
    else
    {
        <p>Chargement...</p>
    }
</div>

@code {
    [Parameter]
    public int IdScenario { get; set; }

    private ScenarioDetailsData ScenarioDetails { get; set; }
    private bool IsPageLoaded { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await Http.Authenticate(Js, NavManager);
        
        ScenarioDetails = await Http.GetResultAsync<ScenarioDetailsData>("ScenarioView/Details/" + IdScenario);
        HttpResponseMessage res = await Http.GetAsync("ScenarioView/Details/" + IdScenario);
        if (!res.IsSuccessStatusCode)
        {
            NavManager.NavigateTo("/not-found");
            return;
        }

        ScenarioDetails = await res.Content.ReadAsAsync<ScenarioDetailsData>();
        IsPageLoaded = true;
    }
}