<div class="form-check">
    <input 
        class="form-check-input" 
        type="checkbox" 
        id="@Id" 
        name="@Id" 
        @bind="@BindingValue" />
    <label class="form-check-label" for="@Id">@Label</label>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public string Label { get; set; } = "";


    private bool _value;

    [Parameter]
    public bool BindingValue
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            BindingValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<bool> BindingValueChanged { get; set; }   
}