<div class="form-group">
	@if (Label != null)
	{
	 <label for="@Id">@Label</label>
	}
	<select class="form-control" id="@Id" @bind="@BindingValue">
		@if(HasDefaultItem)
		{
			<option></option>
		}
		@foreach (KeyValuePair<string, string> item in Items)
		{
			<option value="@item.Key">@item.Value</option>
		}
	</select>
</div>

@code {
	[Parameter]
	public string Id { get; set; } = "";

	[Parameter]
	public string Label { get; set; } = null;

	[Parameter]
	public IEnumerable<KeyValuePair<string, string>> Items { get; set; } = new List<KeyValuePair<string, string>>();

	[Parameter]
	public bool HasDefaultItem { get; set; } = false;


    private string _value;

    [Parameter]
    public string BindingValue
    {
        get => _value;
        set
        {
			if(_value == value) return;
            _value = value;
            BindingValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> BindingValueChanged { get; set; }   
}