<div class="form-group">
    @if(Label != null)
    {
        <label for="@Id">@Label</label>
    }
    <input 
        class="form-control" 
        type="@(IsPassword ? "password" : "text")" 
        id="@Id" 
        name="@Id" 
        placeholder="@Placeholder" 
        value="@DefaultValue"
        @onchange="OnChangeCallback" />
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "";
    [Parameter]
    public string Placeholder { get; set; } = "";
    [Parameter]
    public bool IsPassword { get; set; } = false;

    [Parameter]
    public EventCallback<string> OnChange { get; set; }

    [Parameter]
    public string DefaultValue { get; set; } = "";

    [Parameter]
    public string Label { get; set; } = null;

    private void OnChangeCallback(ChangeEventArgs e) =>
        OnChange.InvokeAsync((string)e.Value);
}