<div class="form-group">
    <textarea class="form-control" id="@Id" name="@Id" placeholder="@Placeholder" @bind="@BindingValue" cols="@Cols" rows="@Rows"></textarea>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public string Placeholder { get; set; } = "";

    [Parameter]
    public int Rows { get; set; } = 1;

    [Parameter]
    public int Cols { get; set; } = 20;

    private string _value;

    [Parameter]
    public string BindingValue
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            BindingValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> BindingValueChanged { get; set; }  
}