<div class="form-group">
    @if(Label != null)
    {
        <label for="@Id">@Label</label>
    }
    <input 
        class="form-control" 
        type="@(IsPassword ? "password" : "text")" 
        id="@Id" 
        name="@Id" 
        placeholder="@Placeholder" 
        @bind ="@BindingValue" 
        @bind:event="oninput" />
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public string Placeholder { get; set; } = "";
    
    [Parameter]
    public bool IsPassword { get; set; } = false;

    [Parameter]
    public string Label { get; set; } = null;


    private string _value;

    [Parameter]
    public string BindingValue
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            BindingValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> BindingValueChanged { get; set; }   
}