<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>404 Ressource Introuvable</h1>
            <p><a href="/">Cliquez ici pour revenir sur la page d'accueil.</a></p>
        </LayoutView>
    </NotFound>
</Router>
